* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #181818;
  font-family: "Inter";
}
body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Inter";
}
.wrapper {
  width: 90%;
  margin: 0 auto;
}
:root {
  --main-bg-color: #fcda69;
  --main-heading-color: #18212c;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-Light.woff2") format("woff2"),
    url("../Fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-Medium.woff2") format("woff2"),
    url("../Font/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-Regular.woff2") format("woff2"),
    url("../Fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-Bold.woff2") format("woff2"),
    url("../Fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../Fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../Fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../Fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
#Home {
}
#Home section.wrapper {
  width: 90%;
  margin: 0 auto;
}
#Home section.wrapper header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Home section.wrapper header h1.left {
  width: 100px;
}
#Home section.wrapper header h1.left a {
  width: 100%;
  display: block;
}
#Home section.wrapper header h1.left a img {
  width: 100%;
  display: block;
}
#Home section.wrapper header nav.middle {
}
header nav.middle ul {
  display: flex;
}
#Home section.wrapper header nav.middle ul li {
  margin-right: 20px;
}
#Home section.wrapper header nav.middle ul li:last-child {
  margin-right: 0px;
}
#Home section.wrapper header nav.middle ul li a {
  color: var(--main-heading-color);
  font-size: 18px;
  font-weight: 500;
}
#Home section.wrapper header nav.middle ul li a:hover {
  border-bottom: 2px solid #181818;
  font-weight: 600;
}
#Home section.wrapper header div.right {
}
#Home section.wrapper header div.right ul {
  display: flex;
}
#Home section.wrapper header div.right ul li {
  margin-right: 20px;
}
#Home section.wrapper header div.right ul li:last-child {
  margin-right: 0px;
}
#Home section.wrapper header div.right ul li a {
  font-weight: 700;
}
#Home section.wrapper header div.right ul li a.button {
  padding: 12px 31px;
  border: 1px solid #181818;
  border-radius: 2px;
  font-weight: 700;
}
#Home section.wrapper #spotlight {
  padding: 60px 50px 60px 0px;
  display: flex;
}
#Home section.wrapper #spotlight div.left {
  width: 48%;
}
#Home section.wrapper #spotlight div.left div.top {
}
#Home section.wrapper #spotlight div.left div.top span.text-rotate {
  display: inline-block;
  color: #8873ef;
  transform: rotate(-39deg);
  font-size: 15px;
  font-weight: 500;
}

#Home section.wrapper #spotlight div.left div.top h1 {
  font-size: 94px;
  width: 387px;
  font-weight: 600;
}
#Home section.wrapper #spotlight div.left div.top div.details {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  color: #888585;
  font-size: 18px;
}
#Home section.wrapper #spotlight div.left div.top div.details span {
}
#Home section.wrapper #spotlight div.left div.top div.details p {
  width: 428px;
  margin-left: 10px;
  font-weight: 500;
}
#Home section.wrapper #spotlight div.left div.top div.buttons {
  display: flex;
  margin-top: 50px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 16px 21px;
  border-radius: 13px;
  font-weight: 700;
  font-size: 14px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a.fill {
  background: #8873ef;
  padding: 16px 21px;
  border-radius: 13px;
  color: #fff;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a:first-child {
  margin-left: 0px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a span {
  width: 20px;
  display: block;
  margin-left: 10px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a span img {
  width: 100%;
  display: block;
}
#Home section.wrapper #spotlight div.left div.bottom {
  margin-top: 42px;
}
#Home section.wrapper #spotlight div.left div.bottom ul {
  display: flex;
  align-items: center;
}
#Home section.wrapper #spotlight div.left div.bottom ul li {
  width: 109px;
  margin-left: 15px;
}
#Home section.wrapper #spotlight div.left div.bottom ul li:first-child {
  margin-left: 0px;
}
#Home section.wrapper #spotlight div.left div.bottom ul li a {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#Home section.wrapper #spotlight div.left div.bottom ul li a img {
  width: 100%;
  display: block;
}
#Home section.wrapper #spotlight div.right {
  width: 48%;
  position: relative;
}
#Home section.wrapper #spotlight div.right div.quote {
  text-align: left;
  display: flex;
  justify-content: flex-end;
}
#Home section.wrapper #spotlight div.right div.quote blockquote {
  width: 211px;
  font-weight: 600;
  font-size: 20px;
}
#Home section.wrapper #spotlight div.right div.Hero-bg {
  height: 690px;
  position: absolute;
  top: -32px;
}
#Home section.wrapper #spotlight div.right div.Hero-bg img {
  width: 100%;
  height: 100%;
  display: block;
}
#Home section.wrapper #spotlight div.right div.play {
  width: 145px;
  z-index: 1;
  position: absolute;
  top: 44%;
  left: 38%;
}
#Home section.wrapper #spotlight div.right div.play img {
  width: 100%;
  display: block;
}
#Service {
  background: var(--main-bg-color);
  padding: 80px 0;
}
#Service section.wrapper {
}
#Service section.wrapper section.content {
  display: flex;
  justify-content: space-between;
}
#Service section.wrapper section.content div.left {
  width: 48%;
}
#Service section.wrapper section.content div.left div.top {
}
#Service section.wrapper section.content div.left div.top span.text-rotate {
  display: inline-block;
  color: #8873ef;
  transform: rotate(-39deg);
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}
#Service section.wrapper section.content div.left div.top h1 {
  font-size: 64px;
  width: 378px;
  font-weight: 600;
}
#Service section.wrapper section.content div.left div.top div.details {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 18px;
}
#Service section.wrapper section.content div.left div.top div.details span {
  color: #645729;
}
#Service section.wrapper section.content div.left div.top div.details p {
  width: 472px;
  margin-left: 10px;
  color: #645729;
}
#Service section.wrapper section.content div.left div.bottom {
  margin-top: 190px;
}
#Service section.wrapper section.content div.left div.bottom div.service-seal {
  width: 140px;
}
#Service
  section.wrapper
  section.content
  div.left
  div.bottom
  div.service-seal
  img {
  width: 100%;
  height: 100%;
  display: block;
}
#Service section.wrapper section.content div.right {
  width: 48%;
}
#Service section.wrapper section.content div.right ul {
}
#Service section.wrapper section.content div.right ul li {
  border-top: 1px solid #181818;
  margin-bottom: 10px;
  padding: 13px 0;
}
#Service section.wrapper section.content div.right ul li div.item_title {
  display: flex;
  align-items: flex-start;
}
#Service section.wrapper section.content div.right ul li div.item_title h4 {
  font-size: 26px;
  font-weight: 600;
}
#Service section.wrapper section.content div.right ul li div.item_title h2 {
  width: 354px;
  font-size: 41px;
  font-weight: 600;
  margin: 0 auto;
}
#Service section.wrapper section.content div.right ul li div.click {
  width: 47%;
  margin: 10px auto 0;
}
#Service section.wrapper section.content div.right ul li div.click a {
  width: 100%;
  display: block;
  font-weight: 600;
}
#Service section.wrapper section.content div.right ul li div.arrow {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}
#Service section.wrapper section.content div.right ul li div.arrow span {
  text-align: right;
  display: inline-block;
  width: 65px;
}
#Service section.wrapper section.content div.right ul li div.arrow span img {
  width: 100%;
  display: inline-block;
}
#Experience {
  padding: 80px 0;
}
#Experience section.wrapper {
}
#Experience section.wrapper section.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Experience section.wrapper section.content div.left {
  width: 48%;
}
#Experience section.wrapper section.content div.left div.top {
}
#Experience section.wrapper section.content div.left div.top span.text-rotate {
  display: inline-block;
  color: #8873ef;
  transform: rotate(-39deg);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0 6px -17px;
}
#Experience section.wrapper section.content div.left div.top h1 {
  font-size: 64px;
  width: 378px;
  font-weight: 600;
  line-height: 1.8em;
}
#Experience section.wrapper section.content div.left div.top div.details {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 18px;
}
#Experience section.wrapper section.content div.left div.top div.details span {
  color: #645729;
}
#Experience section.wrapper section.content div.left div.top div.details p {
  width: 472px;
  margin-left: 10px;
  color: #645729;
}
#Experience section.wrapper section.content div.left div.bottom {
  margin-top: 70px;
}
#Experience section.wrapper section.content div.left div.bottom h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}
#Experience section.wrapper section.content div.left div.bottom ul {
  display: flex;
  flex-wrap: wrap;
}
#Experience section.wrapper section.content div.left div.bottom ul li {
  width: 26%;
  margin-bottom: 15px;
}
#Experience
  section.wrapper
  section.content
  div.left
  div.bottom
  ul
  li
  div.skill-icon {
  width: 72px;
}
#Experience
  section.wrapper
  section.content
  div.left
  div.bottom
  ul
  li
  div.skill-icon
  img {
  width: 100%;
  display: block;
}
#Experience section.wrapper section.content div.left div.bottom ul li h4 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 25px;
}
#Experience section.wrapper section.content div.right {
  width: 48%;
}
#Experience section.wrapper section.content div.right div.top {
  margin-bottom: 70px;
}
#Experience section.wrapper section.content div.right div.top h2 {
  font-size: 35px;
  font-weight: 500;
}

#Experience section.wrapper section.content div.right div.bottom {
}
#Experience section.wrapper section.content div.right div.bottom ul {
}
#Experience section.wrapper section.content div.right div.bottom ul li {
  border-top: 1px solid #181818;
  padding: 20px 0;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li
  div.title {
  display: flex;
  align-items: flex-start;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li
  div.title
  h4 {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 600;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li:first-child
  div.title
  h4 {
  margin-right: 14px;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li
  div.title
  h2 {
  font-size: 30px;
  font-weight: 500;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li
  span.company {
  display: block;
  width: 60%;
  margin: 0 auto;
  color: #838383;
}
#Experience
  section.wrapper
  section.content
  div.right
  div.bottom
  ul
  li
  span.company1 {
  width: 59%;
}
#Projects {
  padding: 80px 0;
  background: var(--main-bg-color);
}
#Projects section.wrapper {
}
#Projects section.wrapper h1 {
  font-size: 64px;
  font-weight: 600;
  width: 33%;
  line-height: 1.6em;
}
#Projects section.wrapper ul {
  display: flex;
  justify-content: space-between;
}
#Projects section.wrapper ul li {
  width: 30%;
  border-top: 1px solid #181818;
  position: relative;
  padding: 20px 0;
}
#Projects section.wrapper ul li:first-child {
  top: 80px;
}
#Projects section.wrapper ul li:last-child {
  top: -190px;
}
#Projects section.wrapper ul li div.project_title {
  display: flex;
  justify-content: space-between;
}
#Projects section.wrapper ul li div.project_title h3 {
  font-size: 26px;
  width: 63%;
  font-weight: 600;
  line-height: 1.5em;
}
#Projects section.wrapper ul li:nth-child(2) div.project_title h3 {
  width: 53%;
}
#Projects section.wrapper ul li div.project_title span {
  width: 65px;
  display: inline-block;
}
#Projects section.wrapper ul li div.project_title span img {
  width: 100%;
  display: inline-block;
}
#Projects section.wrapper ul li p.project_type {
  font-weight: 600;
  font-size: 14px;
}
#Projects section.wrapper ul li div.project_design {
  width: 95%;
  margin-top: 20px;
}
#Projects section.wrapper ul li div.project_design img {
  width: 100%;
  display: block;
}
#Projects section.wrapper div.service-seal {
  text-align: right;
}
#Projects section.wrapper div.service-seal span {
  text-align: right;
  width: 140px;
  display: inline-block;
}
#Projects section.wrapper div.service-seal img {
  width: 100%;
  height: 100%;
  display: block;
}
#Testimonial {
  padding: 80px 0;
}
#Testimonial section.wrapper {
}
#Testimonial section.wrapper div.top-portion {
  display: flex;
  justify-content: flex-start;
}
#Testimonial section.wrapper div.top-portion div.left {
  width: 45%;
}
#Testimonial section.wrapper div.top-portion div.left span.text-rotate {
  display: inline-block;
  color: #8873ef;
  transform: rotate(-39deg);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0 6px -17px;
}
#Testimonial section.wrapper div.top-portion div.left h1 {
  font-size: 64px;
  font-weight: 600;
  width: 77%;
  line-height: 1.3em;
  text-transform: capitalize;
}
#Testimonial section.wrapper div.top-portion div.middle {
}
#Testimonial section.wrapper div.top-portion div.middle div.details {
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 18px;
}
#Testimonial section.wrapper div.top-portion div.middle div.details span {
  color: #645729;
}
#Testimonial section.wrapper div.top-portion div.middle div.details p {
  width: 472px;
  margin-left: 10px;
  color: #645729;
}
#Testimonial section.wrapper div.top-portion div.right {
  width: 48%;
}
#Testimonial section.wrapper div.top-portion div.right div.icon-container {
  text-align: right;
}
#Testimonial section.wrapper div.top-portion div.right div.icon-container span {
  display: inline-block;
  text-align: right;
  width: 37%;
  padding: 175px 0 0 0;
}
#Testimonial
  section.wrapper
  div.top-portion
  div.right
  div.icon-container
  span
  img {
  width: 100%;
  display: block;
}
#Testimonial section.wrapper div.bottom-portion {
  display: flex;
  margin-top: 50px;
}

#Testimonial section.wrapper div.bottom-portion div.left {
  width: 50%;
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.left
  div.clientpic-container {
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.left
  div.clientpic-container
  span {
  width: 95%;
  display: inline-block;
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.left
  div.clientpic-container
  span
  img {
  width: 100%;
  display: block;
}
#Testimonial section.wrapper div.bottom-portion div.middle {
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
  padding: 52px 0 20px;
}
#Testimonial section.wrapper div.bottom-portion div.middle p.Review {
  width: 84%;
  margin: 0 auto;
  font-size: 24px;
  color: #5e5e5e;
  font-weight: 400;
  line-height: 1.5em;
}
#Testimonial section.wrapper div.bottom-portion div.middle p.Review small {
  color: #5e5e5e;
  font-weight: 600;
  font-size: 23px;
}
#Testimonial section.wrapper div.bottom-portion div.middle p.Review b {
  font-weight: 600;
  color: #353535;
}
#Testimonial section.wrapper div.bottom-portion div.middle h6 {
  width: 68%;
  margin: 30px auto 0;
  font-size: 17px;
  font-weight: 600;
}
#Testimonial section.wrapper div.bottom-portion div.middle span {
  color: #6b6b6b;
  display: block;
  width: 65%;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
}
#Testimonial section.wrapper div.bottom-portion div.right {
  width: 50%;
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.right
  div.clientpic-container {
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.right
  div.clientpic-container
  span {
  width: 95%;
  display: inline-block;
}
#Testimonial
  section.wrapper
  div.bottom-portion
  div.right
  div.clientpic-container
  span
  img {
  width: 100%;
  display: block;
}
#Contact {
  padding: 80px 0;
  background: var(--main-bg-color);
}
#Contact section.wrapper {
}
#Contact section.wrapper section.contact_details {
  display: flex;
  padding: 0 0 25px 0px;
}
#Contact section.wrapper section.contact_details div.left {
  width: 48%;
}
#Contact section.wrapper section.contact_details div.left span.text-rotate {
  display: inline-block;
  color: #8873ef;
  transform: rotate(-39deg);
  font-size: 15px;
  font-weight: 500;
  margin: 20px 0 6px -17px;
}
#Contact section.wrapper section.contact_details div.left h1 {
  font-size: 64px;
  font-weight: 600;
  width: 63%;
  line-height: 1.3em;
  text-transform: capitalize;
}
#Contact section.wrapper section.contact_details div.left ul {
  margin-top: 39px;
}
#Contact section.wrapper section.contact_details div.left ul li {
  border-top: 1px solid #181818;
  display: flex;
  width: 59%;
  padding: 20px 0;
}
#Contact
  section.wrapper
  section.contact_details
  div.left
  ul
  li
  div.contact-icon {
  width: 68px;
}
#Contact
  section.wrapper
  section.contact_details
  div.left
  ul
  li
  div.contact-icon
  img {
  width: 100%;
  display: block;
}
#Contact section.wrapper section.contact_details div.left ul li div.detail {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}
#Contact
  section.wrapper
  section.contact_details
  div.left
  ul
  li
  div.detail
  small {
  color: #b3ae9b;
  font-weight: 600;
}
#Contact section.wrapper section.contact_details div.left ul li div.detail a {
  display: block;
  font-weight: 700;
}
#Contact section.wrapper section.contact_details div.left ul li div.detail h5 {
  font-weight: 700;
  width: 74%;
  line-height: 1.8em;
}
#Contact section.wrapper section.contact_details div.right {
  width: 36%;
  border: 1px solid #181818;
  border-radius: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Contact section.wrapper section.contact_details div.right div.hand-icon {
  display: flex;
  padding: 62px 0 0;
}
#Contact section.wrapper section.contact_details div.right div.hand-icon img {
}
#Contact section.wrapper section.contact_details div.right div.hand-icon h3 {
  font-size: 19px;
  font-weight: 600;
  margin-left: 15px;
}
#Contact section.wrapper section.contact_details div.right span {
  display: inline-block;
  width: 122px;
}
#Contact section.wrapper section.contact_details div.right span img {
  display: block;
  width: 100%;
  height: 100%;
}
#Contact section.wrapper hr.line {
  border: 0.5px solid #181818;
  width: 91%;
}
#Contact
  section.wrapper
  section.contact_details
  div.right
  div.horizontal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #181818;
  padding: 0px 0px 20px;
}
