* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #181818;
  font-family: "Inter";
}
body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Inter";
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-Light.woff2') format('woff2'),
      url('../Fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-Medium.woff2') format('woff2'),
      url('../Font/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-Regular.woff2') format('woff2'),
      url('../Fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-Bold.woff2') format('woff2'),
      url('../Fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-ExtraBold.woff2') format('woff2'),
      url('../Fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../Fonts/Inter-SemiBold.woff2') format('woff2'),
      url('../Fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
#Home {
}
#Home section.wrapper {
  width: 90%;
  margin: 0 auto;
}
#Home section.wrapper header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Home section.wrapper header h1.left {
  width: 100px;
}
#Home section.wrapper header h1.left a {
  width: 100%;
  display: block;
}
#Home section.wrapper header h1.left a img {
  width: 100%;
  display: block;
}
#Home section.wrapper header nav.middle {
}
header nav.middle ul {
  display: flex;
}
#Home section.wrapper header nav.middle ul li {
  margin-right: 20px;
  
}
#Home section.wrapper header nav.middle ul li:last-child {
  margin-right: 0px;
}
#Home section.wrapper header nav.middle ul li a {
  color: #181818;
  font-size: 18px;
  font-weight: 500;
}
#Home section.wrapper header nav.middle ul li a:hover {
  border-bottom: 2px solid #181818;
  font-weight: 600; 
}
#Home section.wrapper header div.right {
}
#Home section.wrapper header div.right ul {
  display: flex;
}
#Home section.wrapper header div.right ul li {
  margin-right: 20px;
}
#Home section.wrapper header div.right ul li:last-child {
  margin-right: 0px;
}
#Home section.wrapper header div.right ul li a{
  font-weight: 700;
}
#Home section.wrapper header div.right ul li a.button{
  padding: 12px 31px;
  border: 1px solid #181818;
  border-radius: 2px;
  font-weight: 700;
}
#Home section.wrapper #spotlight{
  padding: 60px 50px 60px 0px;
  display: flex;
  
}
#Home section.wrapper #spotlight div.left{

}
#Home section.wrapper #spotlight div.left div.top{

}
#Home section.wrapper #spotlight div.left div.top h1{
 font-size: 94px;
 width: 378px;
}
#Home section.wrapper #spotlight div.left div.top div.details {
display: flex; 
align-items: flex-start; 
margin-top: 30px;
}
#Home section.wrapper #spotlight div.left div.top div.details span {

}
#Home section.wrapper #spotlight div.left div.top div.details p {
width: 380px;
margin-left: 10px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons {
display: flex; 
margin-top: 50px; 
}
#Home section.wrapper #spotlight div.left div.top div.buttons a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 16px 21px;
  border-radius: 13px;
  font-weight: 600;
  font-size: 14px;  
}
#Home section.wrapper #spotlight div.left div.top div.buttons a.fill {
  background: #8873EF;
  padding: 16px 21px;
  border-radius: 13px;
  color: #fff;   
}
#Home section.wrapper #spotlight div.left div.top div.buttons a:first-child {
  margin-left: 0px;  
}
#Home section.wrapper #spotlight div.left div.top div.buttons a span {
width: 20px;
display: block;
margin-left: 10px;
}
#Home section.wrapper #spotlight div.left div.top div.buttons a span img {
width: 100%;
display: block;
}
#Home section.wrapper #spotlight div.left div.bottom {

}
#Home section.wrapper #spotlight div.left div.bottom ul {

}
#Home section.wrapper #spotlight div.left div.bottom ul li {

}
#Home section.wrapper #spotlight div.left div.bottom ul li a{

}
#Home section.wrapper #spotlight div.left div.bottom ul li a img{

}
